/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Lato', sans-serif;
}

h2, h3 {
    /*background-image: linear-gradient(to right bottom, #220113, #3e142b, #5e2445, #7f3662, #a24981);*/
    font-family: 'Montserrat', sans-serif;
    color: #FFF6FB; 
    text-shadow: rgb(123, 123, 123) 1px 2px;
    text-align: center;
    letter-spacing: 0.5px;

}
h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Header */

header {
    background-image: linear-gradient(to right bottom, #414141, #685a64, #9a7379, #c6917e, #dcba82);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
    color: inherit;
}
#symbol {
    width: 8vh;
 }

 
#title {
    text-align: center;
    padding: 10px 0;

}
.active {
    border-bottom: 1px solid;
    color: #fdf6eb;
    font-size:110%;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-image: linear-gradient(to left bottom, #dcba82, #c6917e, #9a7379, #685a64, #414141);
    width: 80%;
    box-shadow: 0 2px 4px black;
    padding: 0 1rem;
    right: 0;
    display: none;
    top: 100%;
    color: #FFF6FB;
    text-shadow: 2px 2px rgb(109, 109, 109);
}

#menu {
    font-size: 130%;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1rem;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    background-image: linear-gradient(to right bottom, #220113, #3e142b, #5e2445, #7f3662, #a24981);
    /* Take all the space and push footer down */
    flex: 1 0 auto;
    margin-top: 9vh;
    color: #FFF6FB;
}
p {
    color: inherit;
    margin: 10px;
    font-size: 90%;
}
#main-picture {
    background: url(../images/Main-photo.jpg) no-repeat center/cover;
    width: 100%;
    height: 200px;
}

/* Motivation section */
#motivation {
    margin: 0 20px;
}
#motivation h4 {
    margin-top: 15px;
}
#motivation p {
    margin: 10px 0;
}
#motivation > div {
    margin-bottom: 15px;
}
.shadow {
    box-shadow: 6px 5px 5px rgb(28, 25, 25);
    padding: 0 4px 4px 0;
    margin-bottom: 25px;
}

/* Button join us */
#button-joinus {
    background-color: rgb(97, 179, 179);
    text-align: center;
    display: flex;
    width: 50%;
    height: 45px;
    margin-left: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 4px 5px rgb(68, 68, 68);
    margin-bottom: 30px;
    margin-top: 20px;
}
#button-joinus a {
    text-decoration: none;
    color: #FFF6FB;
    font-size: 120%;

}

/* Section reviews */
#review {
    padding: 0 3px;
}
.review-block {
    display: flex;
    margin: 20px 0;
}
.review-block p {
    font-size: 80%;
    margin: 0 5px 0 10px;
}

.review-name-block {
    border-right: 1px solid #FFF6FB;
    flex-shrink: 2;
    text-align: center;
    margin-bottom: 15px;
}
.review-name-block img {
    width: 10vh;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
}
.review-block a {
    color: #e4d999;
}

/* Schedule */

#schedule {
    margin-bottom: 20px;
}

#schedule img {
    width: 100%;
}

table {
	width: 80%;
    margin-left:10%;
    margin-bottom: 20px;
}

tr {
	display: grid;
	grid-template-columns: 3fr 2fr;
}

tr, th, td {
	text-align: center;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}
.innactive-day {
    color: rgb(156, 156, 156);
}

/* Schedule page */
#image-block {
    background: url(../images/schedule-image1.jpg) no-repeat center/cover;
    width: 100%;
    height: 200px;
    background-position: top;
}


/* Contacts */
.contacts {
    margin: 5px 10px 5px 0;
    text-align: end;
}
#contacts p {
    text-align: center;
}
/* Our place page*/
.our-place-picture {
    width: 100%;
}


/* Join us page */
#join-us-picture {
    background: url(../images/join-us-photo.jpg) center/cover;
    width: 100%;
}
#join-us-form {
    width: 80%;
    margin: 10%;
    background-color: rgba(34,1,19, 0.6);
    border-radius: 5%;
    padding: 20px;
}
.radio-button {
    font-size: 85%;
}
.input-field {
    background: transparent;
    border-radius: 3px;
    color: #FFF6FB;
    border: 1px solid #FFF6FB;
    padding: 0 5px;
    margin-bottom: 10px;
    height: 22px;
}
.submit-button {
    padding: 7px 45px;
    margin-left: 20px;
    font-size: 120%;
    background-image: linear-gradient(to right bottom, #414141, #685a64, #9a7379, #c6917e, #dcba82);
    color: #FFF6FB;
    border-radius: 5px;
    box-shadow: 5px 4px 5px rgb(28, 25, 25);
}
.submit-button:hover {
    background-image: linear-gradient(to right bottom, #dcdcdc, #e0d0dc, #eec3c9, #f1baa6, #dcba82);
    color: black;
    box-shadow: none;
}


/* Footer */
footer {
    background-image: linear-gradient(to top, #5c0b37, #460e29, #310f1d, #1e0a11, #000000);
    text-align: center;
    color: #FFF6FB;
}

#social-networks {
    text-align: center;
    padding:20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
}
#social-networks i {
    font-size:160%;
    padding: 5%;
    color: #FFF6FB;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    /* Join us page */
    #join-us-form {
        max-width: 55%;
    }
    /* Greetings */
    #greetings {
        display: flex;
        flex-direction: row-reverse;
    }
    #greetings #main-picture {
        flex-shrink: 2;
        height: 300px;
    }
    #greetings p {
        flex-basis: 350px;
        border-right: 1px solid #FFF6FB;
        text-align: end;
        padding: 0 10px;
        align-self: flex-start;
    }   

    /* Contacts block */
    #image-block {
        height: 350px;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-image: none;
        background-color: inherit;
        color: #FFF6FB;
        text-shadow: 2px 2px rgb(107, 107, 107);
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }



    /* Main */
    #main-picture {
        height: 350px;
    }

    #motivation {
        display: flex;

    }
    #first-motivation-block {
        margin: 0 20px;

    }
    #second-motivation-block {
        margin: 0 20px;
    }
    h2 {
        font-size: 170%;
    }
    h4, h5 {
        font-size: 110%;
        margin-top: 15px;
        padding: 0 6px;
    }
    h3{
        font-size: 150%;
    }
    p {
        font-size: 100%;
    }

    /* Section reviews */

    #review {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-around;
    }
    .review-block {
        width: 330px;
        height: 150px;

    }
    .review-block p {
        font-size: 90%;
    }
    /* button-joinus  */
    #button-joinus {
        width: 30%;
        margin-left: 35%;
    }

    /* Page our place */
    .right-side {
        display: flex;
        text-align: end;
    }
    .right-side > p {
        border-right: 1px solid #FFF6FB;
        align-self: flex-start;
        padding-right: 10px;
    }
    .left-side {
        display: flex;
        text-align: start;
    }
    .left-side > p {
        border-left: 1px solid #FFF6FB;
        align-self: flex-start;
        padding-left: 10px;
    }

    .our-place-picture {
        width: 65%;
        margin-bottom: 5px;
    }
}


/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    #review {
        width: 80%;
        margin-left: 10%;
    }
    #greetings #main-picture {
        background-position: center 40%;
        height: 450px;
    }
    #motivation {
        margin: 0 50px;
    }

    /* A shared section for schedule, image and contacts. */
    #schedule {
        display: flex;
        margin-bottom: 0;
        width: 100%;
        height: auto;
    }
    #image-block {
        flex-basis: 70%;
        order: -1;
        height: 500px;
    }

    #schedule-block, #contacts-block {
        width: 30%;
        height: 300px;
        
    }
    #contacts-block {
        position: absolute;
        align-self: flex-end;
        right: 0;
        height: 150px;
    }
    #schedule-block h3, #contacts-block h3 {
        margin-top: 0;
    }
}